{% extends 'base.html' %}

{% block title %}User Detail Page{% endblock %}

{% block content %}

  <h2>{{user.full_name}}</h2>
  <img src="{{user.image_url}}">

  <form>
  <button formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
  <button formaction="/users/{{user.id}}/delete">Delete</button>
</form>


  <h3>Posts</h3>
  <ul>{% for post in user.posts %}
  <li><a href="/posts/{{ post.id}}">{{post.title}}</a></li>
  {% endfor %}</ul>

  <form>
    <a class="btn btn-sm btn-secondary" href="/users/{{ user.id }}/posts/new">Add Post</a>

  </form>

{% endblock %}